<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>799777239998-ssfs61f158rdn2ajd023ud0f7e273f3n.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.799777239998-ssfs61f158rdn2ajd023ud0f7e273f3n</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>799777239998-59e1fgrf0ok4f3um9oh9q4shd37a4u36.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyDv2XCN70Y6d-6MxT8Zl36WetAx0DdME7Y</string>
		<key>GCM_SENDER_ID</key>
		<string>799777239998</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.flutterApp</string>
		<key>PROJECT_ID</key>
		<string>onlearn-4709b</string>
		<key>STORAGE_BUCKET</key>
		<string>onlearn-4709b.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:799777239998:ios:c74975a2a6092ce281bfef</string>

		<!-- Google Sign-in Section -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<!-- TODO Replace this value: -->
					<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
					<string>com.googleusercontent.apps.861823949799-vc35cprkp249096uujjn0vvnmcvjppkn</string>
				</array>
			</dict>
		</array>
		<!-- End of the Google Sign-in Section -->
	</dict>
</plist>